@import url('http://fonts.googleapis.com/css?family=Open+Sans');

h1 {
	font-family: Open Sans;
	font-size: 50;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h2 {
	font-family: Open Sans;
	font-size: 30;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
p {
	font-family: Georgia;
	font-size: 20;
	word-wrap: break-word;
}
a {
	font-family: Droid Serif;
	font-size: 20;
	font-style: italic;
	color: gray;
	text-decoration: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
li {
	margin-bottom: 1px;
}
a:hover {
	color: black;
	background-color: lightgray;
}
#nav {
	width: 300px;
	float: left;
	border: dashed;
	border-color: gray;
	border-width: 3px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#nav a {
	display: block;
	padding-bottom: 10px;
}
#nav #gitlinks a:hover {
	background-color: lightgreen;
}
#nav #profilelinks a:hover {
	background-color: orange;
}
#nav #bloglinks a:hover {
	background-color: cornflowerblue;
}
#nav #scratchlinks a:hover {
	background-color: lightblue;
}
#nav ul {
	list-style-type: none;
}
#nav li {
	float: left;
	margin-right: 50px;
}
#nav ul li ul li a {
	display: none;
	padding-bottom: 0px;
}
#nav ul li:hover > ul li a{
	-webkit-animation-name: appear;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
	display: block;
}
#content {
	float: top-left;
	overflow: hidden;
	padding-left: 50px;
	padding-right: 200px;
	margin-bottom: 300px;
}
@-webkit-keyframes appear {
	from {padding-bottom: 0px;}
	to {padding-bottom: 10px;}
}